@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

/* Colours used */

  /* darkened-blue: #06083c;
  ligh-blue: #69f1ff;
  dark-blue: #1140c0;
  white: #f0f3f4 */


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f3f4;

}

/* Header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  position: sticky;
  top: 15px;
}

.logo-header {
  background-color: #69f1ff;
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-header h1 {
  color: #1140c0;
  font-size: 1.2rem;
  font-weight: 900;
}

.nav-header ul>li {
  display: inline;
  list-style: none;
  margin: 0 10px;
  font-weight: 900;

}

.hamburger-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #69f1ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;



}



.nav-download {
  list-style: none;
  background-color: #1140c0;
  padding: 15px;
  border-radius: 25px;

  font-weight: 900;
}

.nav-download:visited {
  color: #69f1ff;
}

.nav-download>a:visited {
  color: #69f1ff;
}

.nav-header {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  font-weight: 900;
  margin: 0 20px;

}

nav ul li {
  color: #1140c0;
}

.hamburger-menu span {
  height: 5px;
  display: block;
  width: 70%;
  margin: 3px 0;
  border-radius: 25px;
  background-color: #1140c0
}

.hamburger-menu span:nth-child(1) {
  width: 50%;
}

.hamburger-menu span:nth-child(3) {
  width: 50%;
}

/* React HAmburger styles copied from Documentation  */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 35px;
  right: 20px;

}

/* Color/shape of burger icon bars */


/* Color/shape of burger icon bars on hover*/


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: red;
  height: 30px !important;
  width: 30px;
  margin-right: 20px !important;

}

#react-burger-cross-btn {
  height: 30px;
  width: 30px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 10%;
  width: 30%;
}

/* General sidebar styles */
.bm-menu {
  background: #06083c;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
  border-radius: 50% !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #06083c;

}

/* Wrapper for item list */
.bm-item-list {
  color: #69f1ff;
  padding: 0.8em;
  font-weight: 600;
  margin: 2px 0px;
  overflow: hidden;
  font-size: 45px;
  display: flex;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 5px 0px;
}

.bm-item>li {
  margin: 50px 0px;
  list-style: none;

}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

/* Styling to remove scrollbar  */
.hide-scroll {
  overflow: scroll;
}

.hide-scroll::-webkit-scrollbar {
  background: transparent;
  /* make scrollbar transparent */
  width: 0px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-download {
  margin: 0 20px;
}

/* body section */


/* About section */

.about {

  border: 2px solid black;
  display: flex;
  text-align: center;
  margin: 10px 25px;
  height: auto;

}

.about-us {
  border: 2px solid red;
  display: flex;
  height: 1100px;
  width: 100%;
  margin: 10px;
}

.about-us-content {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  margin: 10px;
}

.about-us-images {
  border: 2px solid green;
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;


}

.about-us-images img {
  border-radius: 25px;
}

.about-us-header h1 {
  font-size: 95px;
  font-family: "Braah One", cursive;
  height: auto;
  width: auto;
  color: #06083c;

  text-align: center;
}

.about-us-text {
  text-align: left;
  margin: 15px 15px;
}

.about-us-text h3 {
  margin: 10px 0;
}

.about-us-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.about-us-text p {
  margin: 10px 30px;
}

/* About us Images */

.about-us-image1 {
  position: relative;
  top: -110px;
  z-index: -1;
  rotate: 10deg;
}

.about-us-image1 {
  position: relative;
  top: -110px;
  z-index: -1;
  rotate: 10deg;
}

.about-us-image2 {
  position: relative;
  top: -290px;
  z-index: -2;
  rotate: 10deg;
}

.about-us-image3 {
  position: relative;
  top: -490px;
  z-index: -1;
  rotate: 5deg;
}


/* Download buttons */
.download-buttons button {
  background-color: #69f1ff;
  color: #1140c0;
  font-weight: 300;
  font-size: 15px;
  padding: 9px;
  border-radius: 25px;
  margin: 20px 5px;
  text-align: center;
  text-decoration: none;
}

.download-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 5px;
}

.download-links {
  display: flex;
  align-items: center;
}

.download-links > a{
  cursor: none;
}
.download-links > button:hover {
  cursor: none ;
}

/* Care Section */
.app-benefits {
  width: auto;
  height: 1000px;
  display: flex;
  flex-direction: column;
  color: #69f1ff;

  background-color: #06083c;
}

.app-benefits-content {
  display: flex;

  border: solid 1px red;
  margin: 30px 10px;
  height: 2500px;
}

.benefits-images {
  margin: 35px 5px 15px 5px;
}

.app-benefits-1 {

  width: 50%;
  display: flex;
  flex-direction: column;
  border: solid 1px green;
  margin: 10px;
}

.bensec-1 {
  height: 100%;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  color: #69f1ff;
  display: flex;
  flex-direction: column;
}

.bensec-1 h1 {
  font-size: 60px;
  margin: 10px;
}

.bensec-1 p {
  margin: 90px 20px;
  text-align: left;
  font-size: larger;
}

.app-benefits-2 {

  width: 50%;
  display: flex;
  flex-direction: column;
  border: solid 1px green;
  margin: 10px;
}

.bensec2-1 {

  border: 1px solid black;
  margin: 5px;
  text-align: center;
  width: 50%;

}

.bensec2-1 h1 {
  margin: 10px;
}

.bensec2-2 {

  border: 1px solid black;
  margin: 5px;
  text-align: center;
  width: 50%;

}

.bensec2-2 h1 {
  margin: 10px;
}

.benefits-one {
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: space-evenly;
}

.benefits-two {
  display: flex;
  flex-direction: row;
  height: 60%;
  justify-content: space-evenly;
}

.bensec2-3 {
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  width: 50%;
}

.bensec2-3 h1 {
  margin: 10px;
}

.bensec2-4 {
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  width: 50%;
}

.bensec2-4 h1 {
  margin: 10px;
}

a:visited {
  color: #1140c0;
}

/* Download Section  */

.download-install {
  height: 800px;
  background-color: #FBE4D6;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  color: #06083c;
}

.download-section1 {
  height: 50%;
  border: 2px solid black;
}

.ds1-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  border: 2px solid black;
}

.ds1-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.download-header {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 20px 40px;
  color: #06083c;
}

.download-header h1 {
  font-size: 65px;
  font-family: "Dmsans";
  font-weight: 600;
  text-align: center;
  margin-top: 10px;


}

.download-header p {
  text-align: center;
  margin: 10px 0px;
  font-size: 30px;
  font-family: "Winky Sans", sans-serif;
  font-weight: 600;

}

.downloadapp-text {
  margin: 20px 40px;
  font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
}

.ds1-left-store {

  display: flex;
  flex-direction: row;
  justify-content: center;

}

.download-section1 {
  display: flex;
  flex-direction: row;
  margin-top: 140px;

}

.downloadapp-text {
  color: #06083c;
  font-family: "Roboto";
  font-weight: 700;
}

.store-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 20px;
}

.googlestore {
  margin: 10px;
}

.applestore {
  margin: 10px;
}


/* AboutUS Page */
.AboutUs-page {
  height: fit-content;
  background-color: #FBE4D6;
}

.aboutus-header {
  height: 150px;
  width: 100%;
  margin: 20px 0px;
  background-color: #06083c;
  color: white;
}

.aboutus-header h1 {
  font-size: 65px;
  font-family: "Dmsans";
  font-weight: 600;

  padding-top: 20px;
  margin-left: 50px;
}

.aboutus-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 50px;
}

.aboutus-content>div {
  margin: 20px 0px;
}

.aboutus-content>div>h2 {
  font-family: "noto-sans";
  font-weight: 900;
  font-size: 40px;
  color: #06083c;
  margin: 10px 0px;
  text-decoration: underline;
}

.aboutus-content>div>h3 {
  font-family: "noto-sans";
  font-weight: 900;
  font-size: 40px;
  color: #06083c;
  margin: 10px 0px;
  text-decoration: underline;
}

.aboutus-content>div>p {
  font-family: "noto-sans";
  font-weight: 300;
  font-size: 20px;
  color: #06083c;
  margin: 10px 0px;

}

.about-2-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 50px;
  color: #06083c;
}

.about-3-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 50px;
  color: #06083c;
}

.about-4-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 50px;
  color: #06083c;
}

/* Benfits Page */
.benefits-page {
  height: fit-content;
  background-color: #FBE4D6;
}

/* Download Page */
.ds1-left-app {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.ds1-right-app {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.ds1-right-app>img {
  width: 50%;
  height: 50%;
}

.download-section2 {
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.download-how-header {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.download-how-header p {
  font-size: 16px;
  font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
  text-align: center;
}

.download-header-content>h1,
h2 {
  font-family: "noto-sans";
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  margin: 10px 0px;
}

#download-three {
  color: #06083c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.download-how-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
}

.download-part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 50px;
}

.download-part1>img {
  height: 300px;
  width: 300px;
  margin: 30px;
}

.download-part2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 50px;
}

.download-part2>img {
  height: 300px;
  width: 230px;
  margin: 30px;
}

.download-part3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 50px;
}

.download-part3>img {
  height: 300px;
  width: 250px;
  margin: 30px;
}

/* Support US PAge */
.support-page {
  height: fit-content;
  background-color: #FBE4D6;
}

/* Volunteer PAge */
.volunteer-page {
  height: fit-content;
  background-color: #FBE4D6;
}
/* App Incoming Page */
.AppIncoming{
  height: 500px;
}

.Incoming{
  display: flex;
  flex-direction: column;

}
.AppIncoming{
  display: flex;
  align-items: center;
  height: 200px;
}
.AppIncoming > h2{
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.incoming-lottie{
  display: flex;
  justify-content:center ;
  height: 450px;

}
/* Footer section */

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.footer-content {
  display: flex;
  margin: 20px 15px 20px 15px;
  height: 250px;
}

.right-content {
  display: flex;
  
  align-items: center;
  width: 60%;
  margin: 0px ;
}

.right-content>h3 {
  margin-bottom: 10px;
}

.right-one>ul>li {
  margin: 10px 0px;

}

.right-one {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 0 20px;
}
.rightone-links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.rightone-links > a{
  display: inline-block;
}

.right-one-header >h3  {
  width: 100px;
}
.right-one>ul {
  list-style: none;

}
.right-one-header{
  width: fit-content;
}

.right-two>ul>li {
  margin: 10px 0px;


}

.right-two>ul {
  list-style: none;
}
.right-two, .right-three, .right-three,.right-four{
  height: 200px;
  margin: 0px 20px;
}
.right-three>ul>li {
  margin: 10px 0px;

}

.right-three>ul {
  list-style: none;
}

.right-four>ul {
  list-style: none;
}

.right-four>ul>li {
  margin: 10px 0px;
}

.right-two-links, .right-three-links , .right-four-links{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.left-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.left-content>.social-links {
  display: flex;

}

.social-links>svg {
  margin-right: 20px;
}

.left-content>p {
  margin: 10px 90px 10px 20px;

  font-family: verdana;
}

.left-content>* {
  margin: 10px;
}

.footer-tos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-top: 30px;
}

.footer-tos p {
  margin: 0 10px;
}

/* 404Error Page */
.error-lottie {
  height: 500px;
  width: 100%;
}
.footer{
  list-style: none;
}


.right-one{
  
}

/* Media Queries */

/* MediaQuery - Iphone X and above */

@media only screen and (min-device-width: 375px) and (max-device-width: 1060px) {

  body {
    overflow-x: hidden;
  }

  .nav-header {
    display: none;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 97%;
  }

  .about-us-content {
    width: 100%;
  }

  .about-us-images {
    width: 100%;
    align-items: center;
  }

  .about-us-images img {
    width: 40%;
    height: 100%;
  }

  /* images */
  .about-us-image1 {
    width: 1300px;
    height: 500px;
    top: 0px;
    z-index: none;
    rotate: 0deg;

  }

  .about-us-image2 {
    width: 1300px;
    height: 500px;
    top: 0px;
    z-index: null;
    rotate: 0deg;
    margin: 20px 0px;

  }

  .about-us-image3 {
    width: 1300px;
    height: 500px;
    top: 0px;
    z-index: null;
    rotate: 0deg;
    margin: 20px 0px 40px 0px;

  }

  .about-us-text p {
    margin: 10px 40px;
    text-align: left;
  }

  .app-benefits {
    height: auto;
  }

  .app-benefits-content {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .app-benefits-1 {
    width: 100%;
  }

  .app-benefits-2 {
    width: 100%;
  }

  .download-install {
    height: 1100px;
  }

  .ds1-left {
    width: 100%;
  }

  .ds1-right {
    width: 100%;
  }

  .download-section1 {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .bm-item-list {
    color: red !important;
    padding: 0.8em;
    font-weight: 600;
    margin: 2px 0px;
    overflow: hidden;
    font-size: 25px;
    display: flex;
  }

  .footer {
    height: 500px;
  }
  

  .footer-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: auto;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    width: 100%;
    list-style: none;
  }

  .footer-tos {
    padding-bottom: 40px;
  }
}