@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colours used */
random {
  darkened-blue: #06083c;
  ligh-blue: #69f1ff;
  dark-blue: #1140c0;
  white: #f0f3f4
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f3f4;
}

/* Header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  position: sticky;
  top: 15px;
}

.logo-header {
  background-color: #69f1ff;
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-header h1 {
  color: #1140c0;
  font-size: 1.2rem;
  font-weight: 900;
}

.nav-header ul>li {
  display: inline;
  list-style: none;
  margin: 0 10px;
  font-weight: 900;

}

.hamburger-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #69f1ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;



}

.nav-download {
  list-style: none;
  background-color: #1140c0;
  padding: 15px;
  border-radius: 25px;
  color: #69f1ff;
  font-weight: 900;
}

.nav-header {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  font-weight: 900;
  margin: 0 20px;

}

nav ul li {
  color: #1140c0;
}

.hamburger-menu span {
  height: 5px;
  display: block;
  width: 70%;
  margin: 3px 0;
  border-radius: 25px;
  background-color: #1140c0
}

.hamburger-menu span:nth-child(1) {
  width: 50%;
}

.hamburger-menu span:nth-child(3) {
  width: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-download {
  margin: 0 20px;
}

/* body section */


/* About section */

.about {

  border: 2px solid black;
  display: flex;
  text-align: center;
  margin: 10px 25px;
  height: auto;

}

.about-us {
  border: 2px solid red;
  display: flex;
  height: 1100px;
  width: 100%;
  margin: 10px;
}

.about-us-content {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  margin: 10px;
}

.about-us-images {
  border: 2px solid green;
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;


}

.about-us-images img {
  border-radius: 25px;
}

.about-us-header h1 {
  font-size: 95px;
  font-family: "Braah One", cursive;
  height: auto;
  width: auto;
  color: #06083c;

  text-align: center;
}

.about-us-text {
  text-align: left;
  margin: 15px 15px;
}

.about-us-text h3 {
  margin: 10px 0;
}

.about-us-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.about-us-text p {
  margin: 10px 0;
}

/* About us Images */

.about-us-image1 {
  position: relative;
  top: -110px;
  z-index: -1;
  rotate: 10deg;
}

.about-us-image2 {
  position: relative;
  top: -290px;
  z-index: -2;
  rotate: 10deg;
}

.about-us-image3 {
  position: relative;
  top: -490px;
  z-index: -1;
  rotate: 5deg;
}


/* Download buttons */
.download-buttons button {
  background-color: #69f1ff;
  color: #1140c0;
  font-weight: 300;
  font-size: 15px;
  padding: 9px;
  border-radius: 25px;
  margin: 20px 5px;
  text-align: center;
  text-decoration: none;
}

.download-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-links {
  display: flex;
  align-items: center;
}

/* Care Section */
.app-benefits {
  width: auto;
  height: 900px;
  margin: 0 20px;
  background-color: #06083c;
}

.app-benefits-content {
  display: flex;

  border: solid 1px red;
  margin: 30px 10px;
  height: 500px;
}

/* Footer section */

.footer {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.footer-tos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-tos p {
  margin: 0 10px;
}

.footer-social {
  background-color: green;
}